$primary-color: hsl(4, 100%, 67%);
$button-color: hsl(234, 29%, 20%);
$button-hover-color: hsl(234, 29%, 27%);
$button-text-color: hsl(0, 0%, 100%);
$newsletter-background-color: hsl(0, 0%, 100%);
$title-text-color: hsl(235, 18%, 26%);
$body-text-color: hsl(234, 29%, 20%);
$placeholder-color: hsl(231, 7%, 60%);
$background-color: hsl(231, 7%, 60%);
$font-size: 1rem;
$font-weights: (
    "normal": 400,
    "bold": 700
);
$font-family: 'Roboto', sans-serif;
$mobile-size: 800px;

