@import "./variables";
@import "./resets";

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin buttons {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: $button-text-color;
    background-color: $button-color;  
    cursor: pointer;
    &:hover {
        background-color: $primary-color;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html {
    font-family: $font-family;
    font-size: $font-size;
}

body {
    background-color: $background-color;
    height: 80vh;
}

.card {
    min-width: 376px;
    background-color: $newsletter-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    overflow: hidden;
    padding-bottom: 20px;
    margin: 0 auto;

    .img-container{
        border-radius: 0 0 10px 10px;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
    }

    .text-container {
        margin: 20px;
        flex-basis: 60%;
        h1 {
            color: $title-text-color;
            font-weight: weight(bold);
            margin-bottom: 15px;
        }
        
        p {
            margin-bottom: 15px;
            color: $body-text-color;
            font-weight: weight(normal);
            font-size: 0.8rem;
        }
        
        ul {
            display: flex;
            flex-direction: column;
            list-style-position: inside;
            margin-bottom: 20px;
            list-style: none;
            padding: 0;

            li {
                font-size: 0.8rem;
                color: $body-text-color;
                margin-bottom: 5px;
                display: flex;
                align-items: flex-start;
                width: fit-content;

                &::before{
                    content: "";
                    display: inline-block;
                    background-image: url('/docs/assets/images/icon-list.svg');
                    background-size: 100% 100%;
                    background-position: center left;
                    background-repeat: no-repeat;
                    margin-right: 10px;
                    width: 18px;
                    height: 18px;
                    flex-shrink: 0;
                }
            }        
        }
    
        .email-container {
            display: flex;
            flex-direction: column;

            input {
                margin-bottom: 20px;
                height: 50px;
                border-radius: 5px;
                border: 0.5px solid gray;
                padding-left: 10px;
            }

            #email-label {
                margin-bottom: 5px;
                color: $title-text-color;
                font-weight: weight(bold);
                font-size: 0.7rem;
                display: block;
            }

            #invalid-email {
                display: none;
                color: $primary-color;

                &.active {
                    display: block;
                }
            }

            ::placeholder {
                color: $placeholder-color;
            }

            #signup-button {
                @include buttons;
            }
        }
    }

    .confirm-message {
        display: none;
        height: 100%;
        padding-bottom: 40px;

        &.active {
            display: flex;
            flex-direction: column;
            padding: 20px;
            margin-top: 100px;

            #success-img {
                width: 70px;
                height: auto;
                margin-bottom: 30px;
            }

            .confirm-text-container{
                flex-basis: 70%;
                
                h1 {
                    color: $title-text-color;
                    font-weight: weight(bold);
                    margin-bottom: 15px;
                    line-height: 2.5rem;
                    font-size: 2.5rem;
                }

                p {
                    color: $body-text-color;
                    font-size: 0.9rem;
                    line-height: 1.4rem;
                }
            }
    
            .button-container {
                flex-basis: 35%;
                button {
                    @include buttons;
                }
            }
        
            #user-email {
                font-weight: weight(bold);
            }
        }
    }

    @media (min-width: $mobile-size){
       flex-direction: row;
       width: 60%;
       padding: 20px;
       margin: 40px auto;

       .img-container{
            background-repeat: no-repeat;
            border-radius: 15px;
            flex-basis: 50%;
            order: 2;
            height: auto;
            width: auto;
            background-image: url('/docs/assets/images/illustration-sign-up-desktop.svg');
            background-position: right;

            img {
                display: none;
            }
       }

       .text-container {
            padding: 20px;
            flex-basis: 50%;
            order: 1;

            h1{
                margin-bottom: 20px;
                font-size: 3.2rem;
            }

            p{ 
                margin-bottom: 20px;
                font-size: 0.9rem;
            }

            ul {
                margin-bottom: 40px;
                
                li {
                    font-size: 0.9rem;
                    margin-bottom: 10px;
                }
            }

            .email-container {
                #signup-button {
                    @include buttons;
                }
            }
        }
    }
}






